.all-hero-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px; 
    justify-content: space-evenly;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  